<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        History
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table matSort mat-table [dataSource]="HistoriquesdataSource" class="mat-elevation-z1">

        <ng-container matColumnDef="composantName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Composant Name </th>
          <td mat-cell *matCellDef="let element"> {{ composantName }} </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="datetime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
          <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="composantId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> composant Id </th>
          <td mat-cell *matCellDef="let element"> {{element.composantId}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>


        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              matTooltip=" {{element.status}}"
              [ngClass]="getClassForStatus(element.status)">
              {{ getIconForStatus(element.status) }}
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20,30,100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
